In [8]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from bs4 import BeautifulSoup
import time
import pandas as pd
import re
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
options = Options()
options.add_argument("--disable-gpu")

service = Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service = service, options = options)

url = "https://www.flipkart.com/search?q=apple%20iphone&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
driver.get(url)

In [ ]:
product_title = []
product_price = []
product_discount = []
product_ratings = []
product_reviews = []

In [ ]:
num_pages = 97

In [ ]:
for item in range(num_pages):
    time.sleep(2)

    content = driver.page_source
    soup = BeautifulSoup(content, "html.parser")

    product = soup.find_all("div", class_ = "yKfJKb row")

    for i in product:
        name = i.find("div", class_ = "KzDlHZ")
        if name:
            product_title.append(name.get_text(strip=True))
        else:
            product_title.append(None)

        price = i.find("div", class_ = "Nx9bqj _4b5DiR")
        if price:
            product_price.append(price.get_text(strip=True))
        else:
            product_price.append(None)
            
        discount = i.find("div", class_ = "UkUFwK")
        if discount:
            product_discount.append(discount.get_text(strip=True))
        else:
            product_discount.append(None)

        ratings = i.find("span", class_ = "Y1HWO0")
        if ratings:
            product_ratings.append(ratings.get_text(strip=True))
        else:
            product_ratings.append(None)

        reviews = i.find("span", class_ = "Wphh3N")
        if reviews:
            product_reviews.append(reviews.get_text(strip=True))
        else:
            product_reviews.append(None)

    try: # for next page button xpath
        next_button = driver.find_element('xpath', '//a[@class="_9QVEpD"][span[text()="Next"]]')
        next_button.click()
    except Exception as e:
        print(f"Error finding or clicking in Next button.")
        break

driver.quit()

Error finding or clicking in Next button.

In [13]:
data = {"Product" : product_title, "Price" : product_price,
        "Discount" : product_discount, "Ratings" : product_ratings, "Reviews" : product_reviews}
df = pd.DataFrame(data)
df

,Product,Price,Discount,Ratings,Reviews
0,"Apple iPhone 13 (Starlight, 128 GB)","₹44,999",9% off,4.6,"2,89,192 Ratings&13,843 Reviews"
1,"Apple iPhone 13 (Midnight, 128 GB)","₹44,999",9% off,4.6,"2,89,192 Ratings&13,843 Reviews"
2,"Apple iPhone 13 (Blue, 128 GB)","₹44,999",9% off,4.6,"2,89,192 Ratings&13,843 Reviews"
3,"Apple iPhone 15 (Pink, 128 GB)","₹64,400",7% off,4.6,"2,53,754 Ratings&9,213 Reviews"
4,"Apple iPhone 15 (Blue, 128 GB)","₹64,400",7% off,4.6,"2,53,754 Ratings&9,213 Reviews"
...,...,...,...,...,...
573,"(Refurbished) OnePlus 10T 5G (Moonstone Black,...","₹29,999",45% off,None,None
574,"(Refurbished) OnePlus 10T 5G (Moonstone Black,...","₹25,999",48% off,None,None
575,"(Refurbished) OnePlus 10R (Sierra Black, 128 GB)","₹21,999",43% off,None,None
576,(Refurbished) SAMSUNG Galaxy F54 5G (Meteor Bl...,"₹18,799",47% off,3.6,10 Ratings&0 Reviews
577,"(Refurbished) OnePlus 11R 5G (Galactic Silver,...","₹23,999",46% off,2.8,5 Ratings&1 Reviews

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578 entries, 0 to 577
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Product   578 non-null    object
 1   Price     578 non-null    object
 2   Discount  194 non-null    object
 3   Ratings   566 non-null    object
 4   Reviews   566 non-null    object
dtypes: object(5)
memory usage: 22.7+ KB

In [15]:
#df["Price"] = df['Price'].str.extract(r'(\d+\,\d+)', expand=False)

In [16]:
df.to_csv('Flipkart iphone Sales.csv', index=False)

In [17]:
df

,Product,Price,Discount,Ratings,Reviews
0,"Apple iPhone 13 (Starlight, 128 GB)","₹44,999",9% off,4.6,"2,89,192 Ratings&13,843 Reviews"
1,"Apple iPhone 13 (Midnight, 128 GB)","₹44,999",9% off,4.6,"2,89,192 Ratings&13,843 Reviews"
2,"Apple iPhone 13 (Blue, 128 GB)","₹44,999",9% off,4.6,"2,89,192 Ratings&13,843 Reviews"
3,"Apple iPhone 15 (Pink, 128 GB)","₹64,400",7% off,4.6,"2,53,754 Ratings&9,213 Reviews"
4,"Apple iPhone 15 (Blue, 128 GB)","₹64,400",7% off,4.6,"2,53,754 Ratings&9,213 Reviews"
...,...,...,...,...,...
573,"(Refurbished) OnePlus 10T 5G (Moonstone Black,...","₹29,999",45% off,None,None
574,"(Refurbished) OnePlus 10T 5G (Moonstone Black,...","₹25,999",48% off,None,None
575,"(Refurbished) OnePlus 10R (Sierra Black, 128 GB)","₹21,999",43% off,None,None
576,(Refurbished) SAMSUNG Galaxy F54 5G (Meteor Bl...,"₹18,799",47% off,3.6,10 Ratings&0 Reviews
577,"(Refurbished) OnePlus 11R 5G (Galactic Silver,...","₹23,999",46% off,2.8,5 Ratings&1 Reviews

In [18]:
df.drop_duplicates()

,Product,Price,Discount,Ratings,Reviews
0,"Apple iPhone 13 (Starlight, 128 GB)","₹44,999",9% off,4.6,"2,89,192 Ratings&13,843 Reviews"
1,"Apple iPhone 13 (Midnight, 128 GB)","₹44,999",9% off,4.6,"2,89,192 Ratings&13,843 Reviews"
2,"Apple iPhone 13 (Blue, 128 GB)","₹44,999",9% off,4.6,"2,89,192 Ratings&13,843 Reviews"
3,"Apple iPhone 15 (Pink, 128 GB)","₹64,400",7% off,4.6,"2,53,754 Ratings&9,213 Reviews"
4,"Apple iPhone 15 (Blue, 128 GB)","₹64,400",7% off,4.6,"2,53,754 Ratings&9,213 Reviews"
...,...,...,...,...,...
573,"(Refurbished) OnePlus 10T 5G (Moonstone Black,...","₹29,999",45% off,None,None
574,"(Refurbished) OnePlus 10T 5G (Moonstone Black,...","₹25,999",48% off,None,None
575,"(Refurbished) OnePlus 10R (Sierra Black, 128 GB)","₹21,999",43% off,None,None
576,(Refurbished) SAMSUNG Galaxy F54 5G (Meteor Bl...,"₹18,799",47% off,3.6,10 Ratings&0 Reviews
577,"(Refurbished) OnePlus 11R 5G (Galactic Silver,...","₹23,999",46% off,2.8,5 Ratings&1 Reviews